body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: black;
    color: #333;
    font-size: 16px;
    direction: ltr;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

a {
    color: grey;
}

hr {
    color:rgb(71, 71, 71);
    height: 5px;
    border: none;
    background-color: rgb(71, 71, 71);
}

span {
    text-align: center;
}


/*
configurações do cabeçalho do site
*/

.img_catalogo {
    background-image: url("src/fundo_catalogo.jpg");
    width: 2000x;
    height: 600px;
    opacity: 0.9;
}

#img_logo_1 {
    height: 100px;
    width: 200px;
    padding-bottom: 120px;
}

.seletor_idiomas_cabecalho{
    position: absolute;
    right: 120px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 3px;
    color:black;
    text-align: center;
}


.botao_entrar {
    position: absolute;
    right: 50px;
    width: 60px;
    height: 30px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: red;
    text-align: center;
    font-size: smaller;
    color: white;
}

.texto_cabecalho {
    margin-top: 0%;
    text-align: center;
    color: white;
    font-size: 60px;
}

.titulo_1 {
    text-align: center;
    color: white;
    font-size: 60px;
}

.titulo_2 {
    text-align: center;
    color: white;
    font-size: x-large;
}

.titulo_3 {
    text-align: center;
    color: white;
    font-size: large;
}

#img_tv {
    margin-left: 300px;
    width: 400px;
    height: 200px;
}

.texto_tv {
    margin-left: 900px;
    color: white;
    font-size: large;
}
.texto_rodape {
    margin-top: 50px;
    text-align: center;
    font-size: small;
    color: grey;
}
.input_email {
    position: absolute;
    right: 500px;
    text-align: left;
    font-size: large;
    border: none;
    background-color: white;
    width: 500px;
    height: 50px;
}

.botao_vamosla {
    position:absolute;
    right: 365px;
    width: 130px;
    height: 53px;
    padding: 10px;
    border: none;
    background-color: red;
    font-size: large;
    color: white;
}

.rodape {
    margin-bottom: 50px;
}

.seletor_idiomas_rodape{
    position: absolute;
    left: 710px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: grey;
    border-radius: 3px;
    color: grey;
    text-align: center;
}
